<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="nav"> 
  <table> 
    <td>
      <tr><a href='/'> home </a> </tr>
      <tr><a href=http:/about> about </a></tr>
      <tr><a href=http:/who_wins/rock/paper> rock vs paper </a></tr>
      <tr><a href=http:/who_wins/paper/rock> paper vs rock </a></tr>
      <tr><a href=http:/who_wins/rock/scissors> rock vs scissors </a></tr>
      <tr><a href=http:/who_wins/scissors/rock> scissors vs rock </a></tr>
      <tr><a href=http:/who_wins/paper/scissors> paper vs scissors </a></tr>
      <tr><a href=http:/who_wins/scissors/paper> scissors vs paper </a></tr>
    </td>
  </table>
</div>
<%= yield %>
</body>
</html>